:root {
  --primary-color: #ff9800;
  --primary-color-hovered: #d58000;
  --secondary-color: #451a6b;
  --secondary-color-hovered: #200c31;
  --background-color: #ffffff;
  --primary-border: 2px solid  #f0f0f0;
  --border-color: #f0f0f0;
  --text-color: #000000;
  --text-alt-color-1: rgb(29, 31, 44);
  --text-alt-color-2: rgb(119, 121, 128);
  --text-alt-color-3: rgb(102, 112, 133);
  --text-alt-color-4: rgb(133, 141, 157);
  --text-green-color: rgb(26, 152, 130);
  --text-red-color: rgb(235, 61, 77);
  
  font-family: sans-serif, Inter, system-ui, Avenir, Helvetica, Arial;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}
div, span, button, p{
  user-select: none;
}
#root{
  height: 100%;
  width: 100%;
  display: flex;  
  flex-direction: column; 
}

